
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 245px;

}

#numberField {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

#textField {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

#sendButton {
    margin-top: 10px;
}

body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}